body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}

.container {
    text-align: center;
    padding: 40px;
}

.saucisson-title {
    font-size: 4rem;
    color: #bb86fc;
    text-shadow: 2px 2px 8px rgba(187, 134, 252, 0.5);
    margin: 0;
}
